/*
 * Two column layout with fixed sidebar
 */
html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
}

#container {
  height: 100%;
}

#sidebar {
  display: inline-block;
  vertical-align: top;
  height: 100%;
  width: 17%;
  overflow: auto;
  background-color: #eee;
  border-right: 1px solid #ccc;
}
#sidebar-content {
  padding: 1em;
}

#main {
  display: inline-block;
  vertical-align: top;
  height: 100%;
  width: 82%;
  overflow: auto;
}
#main-content {
  padding: 1em;
}

/*
 * Label Maker styling
 */
ul.labels {
  list-style: none;
  padding: 0;
}
ul.labels button {
  width: 100%;
  color: white;
}
span.phrase {
  padding: 1ex;
}
span.phrase.labeled {
  color: white;
}
span.phrase button {
  margin-left: 1ex;
}
div.text-labeler-widget {
  border: 1px solid #ccc;
  padding: 1em;
}
#crumbtrail {
  padding: 1em;
  background-color: #eee;
}
